body {
	padding: 0;
	margin: 0;
	font-family: Georgia, Times New Roman, times-roman, georgia, serif;
}
html, body, #map {
	padding: 0;
	margin: 0; 
	height: 100%;
	
}
#map {
	padding: 0;
	margin: 0; 
}
#map img {
	margin:0;
}
#mapPage  {
	height: 100%;
}
#mapMini {
	padding: 0;
	margin: 0; 
}
h1 {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 2.0em;
}
h2 {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 1.3em;
}
h3 {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 1.1em;
}
h4 {
	font-family: Helvetica,Arial,sans-serif;
	margin-bottom: 5px;	
}
img {
	margin: 5px;
}
p {
	font-size: 1em;
	text-decoration: none;
	text-shadow: none ;
	font-weight: normal;
	font-family: Georgia, Times New Roman, times-roman, georgia, serif;
	margin: 6px 0;
}
h1,h2,h3,h4 {
	color: #2f3e46;
	margin: 6px 0;
}
i {
	font-size: 1.2em;
}
li {
	margin-bottom: 0.3em;
}

.hidden {
	display:none;
}
.clearboth {
	clear: both;
}

#navwrappr {
	text-align: center;
	top:10px;
	width:100%;
	position:absolute;
	display:inline-block;
	z-index: 1001;
	pointer-events: none;

	background:url('images/transparent.gif');
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/transparent.gif', sizingMethod='scale');
	background:none !important;
	
	}

#alert {
	display:none;
	position:absolute;
	top:20%;
	min-width: 200px;
	max-width: 400px;
	z-index: 1070;
	background-color: rgba(255, 255, 255, 0.95);
	-moz-border-radius: 3px;
	border-radius: 5px;
	cursor: pointer;
	border: solid #D0D0EE 1px;
	padding: 0;
	text-align: center;
}
#alertMap {
	display:none;
	position:absolute;
	bottom: 3%;
	right: 3%;
	/* width: 80%; */
	/* min-width: 100px; */
	/* max-width: 600px; */
	z-index: 1080;
	background-color: rgba(255, 255, 255, 0.95);
	-moz-border-radius: 3px;
	border-radius: 10px;
	cursor: pointer;
	border: solid #D0D0EE 1px;
	padding: 0 9px;
	font-size: 1.05em;
}
.alertMapText {
	font-family: Verdana,Avant Garde;
	color: #1E1EA5;
	padding:5px;
}
#alertMap:hover {
	background-color: #e1e1e1;
}

.alertText {
	font-size: 1.1em;
	font-family: Verdana,Avant Garde;
	color: #1E1EA5;
	padding:5px;
}
.alertOk {
	background-color: #F5F5F5;
	font-family: Verdana,Avant Garde;
	border-top: solid #9898E7 2px;
	border-color: #9898E7;
	margin: 0;
	padding: 6px;
}
.alertOk:hover {
	background-color: #e1e1e1;
}

.content-box {
	overflow:auto;
	display:none;
	position:absolute;
	max-height: 94%;
	padding:10px;
	margin:0;
	z-index: 1050;
	background-color: rgba(255, 255, 255, 0.90);
	-moz-border-radius: 8px;
	border-radius: 8px;
}	
.dynamic-text {
	display:none;
}
.info {
	display:none;
}
.center {
    display: block;
    margin: 0 auto;
}

.infoCloseRight {
	cursor: pointer;
	float: right;
width: 18px;
height: 14px;
font: 16px/14px Tahoma, Verdana, sans-serif;
color: #c3c3c3;
text-decoration: none;
font-weight: bold;
background: transparent;
}

.header {
	margin: 0 0 10px 0;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-align: center;
	background: #5e87b0;
	background-image: linear-gradient( #6facd5,#497bae );
	color: #fff;
	font-weight: bold;
	padding:5px;
	bbackground-color: rgba(44, 22, 255, 0.90);
}
.header  h1 {
	color: #fff;
}

.markerListItem {
	cursor: pointer;
}
.markerListItem:hover {
	background: #eee;
}

.markerListSelected {
	padding-top: 4px;
	padding-bottom: 4px;
	background: #eee;
}
#markerContent {
    background: #ddd;
    padding: 8px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.markerListHeder {
	background: #ededed;
	padding: 9px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.markerListHeder.red {
	background: #de9797; 
}


.inputText {
	#padding: 5px;
}
.inputSubmit {
    padding: 4px 35px;
    margin: 0px 10px;
	font-size: 1.1em;
}

.collapsible {
	padding:10px;
	margin:0;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	cursor: pointer;
	background: #eee;
	font-weight: bold;
	color: #222;
	text-shadow: 0 1px 0 #fff;
	background-image: -webkit-gradient(linear,left top,left bottom,from( #fff ),to( #E6E6E6 ));
	background-image: -webkit-linear-gradient( #fff,#E6E6E6 );
	background-image: -moz-linear-gradient( #fff,#E6E6E6 );
	background-image: -ms-linear-gradient( #fff,#E6E6E6 );
	background-image: -o-linear-gradient( #fff,#E6E6E6 );
	background-image: linear-gradient( #fff,#E6E6E6 );
}
.collapsible:hover {
	background: #eee;
}
.collapsible:first-of-type{
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
}
.collapsible:last-of-type{
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	border-bottom: 1px solid #ccc;
}
.collapsdata {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 1px 10px 16px 10px;
	background-color: #FFF;
}
.biglink {
	margin: 10px 0;
	border-radius: 18px;
	-moz-border-radius: 18px;
	text-align: center;
	background: #C5C7C9;
	background-image: linear-gradient( #E0E0E0,#BBBBBB );
	color: #2E2B2B;
	font-weight: bold;
	height: 33px;
	line-height: 33px;
	display: block;
	text-decoration: none;
	cursor: pointer;
}
.showComments  {
	border: 0px solid #A0A0A0;
	background: #D8D8D8;
	padding: 4px;
	color: black;
	margin: 10px 0 25px 0;
	border-radius: 8px;
	text-decoration: none;
	font-family: arial;
	text-align: center;
	display:block;
}


label {
	display: block;
	font-family: Helvetica,Arial,sans-serif;
}

#listBox {
	width: 333px;
	height: 100%;
	top: 0px;
	left: 0px;
	position: absolute;
	overflow: auto;
	padding: 0;
	z-index: 1003;
	display: none;
}

#showMarkerBox {
	margin-left:-333px;
	width: 333px;
	max-height:100%;
	top: 0px;
	position: absolute;
	overflow:auto;
	padding:0;
	z-index: 1005;
	
}
#shareBox {
	right: 0;
	top: 0;
	float: right;
	display: none;
	z-index: 1005;
	margin: 10px;
	padding: 10px;
	position: absolute;
	border: 1px solid black;
	border-radius: 5px;
	background: rgba(245, 245, 245, 0.95);
}

#fbshare {
	margin: 16px 0;
}
#fbMapShare {
	margin-top: 14px;
	margin-bottom: 7px;
	height: 26px;
	width: 100px;
	overflow: hidden;	
}

#displayInfo {
	display: none;
	margin: 5px;
	background-color: #EEE;
	padding: 5px;
	border-radius: 9px;
}
.markerContent{
	z-index: 1002;
	border: 1px solid black;
	background: rgba(245, 245, 245, 0.95);
	padding: 0.4em;
	-moz-border-radius: 5px;
	border-radius: 5px;
	pointer-events: auto;
}
.markerContent p{
	margin: 0 0 5px 0;
}

.removeMarkerButton{
	font-family: arial;
	text-decoration: none;
	color: red!important;
	cursor: pointer;
}
.showCommentsButton{
	font-family: arial;
	text-decoration: none;
	cursor: pointer;
}
.poiIcons {
	width: 32px;
	vertical-align: top;
	padding-right: 4px;
	padding-bottom: 3px;
}
.selectIconType {
	border:  2px solid transparent;
}
.iconSelected {
	border: 2px solid #6C8DD3;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.iconText {
	display: inline;
	font-style: italic; 
}
.textlink  {
	margin: 0 5px;
	text-decoration: none;
	color: gray!important;
	cursor: pointer;
}
.textlinkmini  {
	display: block;
	margin-bottom: 8px;
	font-size:0.8em;
	text-decoration: none;
	color: gray!important;
}
.gray  {
	margin: -5px 0 2px 0px;
	font-size: 0.85em;
	font-family: arial;
	color: gray;
}
a.more-text-link, a.more-text-link:hover {
	width: auto!important;
	text-align: left;
	font-size: 1.3em;
	height: 1.3em!important;
	line-height: 1.3em!important;
}
a.textlink:hover {
	color:black!important;
}
.maxwidthImg {
    width:100%;
    max-width:286px;
}

hr {
	height: 2px;
	color: #444488;
	background: #444488;
	font-size: 0;
	border: 0;
	margin-bottom: 23px;
}

#newMarkerBox {
	margin-left:-290px;
	width: 270px;
	top: 1px;
	position: absolute;
	z-index: 1003;
	border: 1px solid black;
	background: rgb(245, 245, 245);
	opacity:0.9;
	padding: 0.4em;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#newMarkerBox p label {
	font-size: 0.8em;
}

input[type="text"] {
	width: 95%;
	font-family: arial;
	padding: 3px;
	font-size: 1em;
}
input[type="password"]  {
	font-family: arial;
	padding: 3px;
	font-size: 1em;
}

textarea#description  , textarea#cdescription, textarea#flagDesc   {
	width: 95%;
	font-family: arial;
	padding: 3px;
	font-size: 1em;
}

.removeMarkerButton {
	color:red;
}
.alerttext {
	color:red;
}
.dim {
	filter: alpha(opacity=30);
	opacity: 0.3;
}
.line {
	height: 1px;
	background-color:#E0E0E0;
	margin:10px;
}

.iconImg {
	vertical-align: middle;
	margin:0;
}
.inputbutton {
	margin: 0.7em;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	min-width: 6em;
	width: auto;
}
#popupLinks {
	margin: 8px 0 0px 0;
}
a.linkButton {
	/*
	color: black;
	background-color: #D8D8D8;
	margin: 0 -5px 0 20px;
	padding: 5px 15px;
	border-radius: 4px;
	text-decoration: none;
	font-size: 1.2em;
	*/
	margin: 0 0 0 20px;
	padding: 5px 5px;
	font-size: 1.2em;
}
.pupupdivider {
	height: 1px;
	background-color:#E0E0E0;
	margin: 0 -20px;

}
.divider-share {
	height: 1px;
	background-color: #8B8B8B;
	margin: 0 -10px;
}

p.linkButtonLong  {
	border: 0px solid #A0A0A0;
	background: #D8D8D8;
	padding: 0.4em;
	color: black;
	margin: 10px 0 0 0;
	width: auto;
	border-radius: 4px;
	clear: both;
	text-align: center;
	font-family: arial;
    cursor: pointer;
}

.linkButtonMid  {
	border: 0px solid #A0A0A0;
	background: #D8D8D8;
	padding: 0.4em;
	color: black;
	margin: 10px 0 0 0;
	width: 50%;
	border-radius: 4px;
	clear: both;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

.closeMarkerBox{
	font-family: arial;
	text-decoration: none;
	color: black;
	cursor: pointer;
}

.narrow {
	margin: 2px 0px !important;
	font-size: 0.9em !important;
	font-family: arial;
}

img.floatLeft { 
	float: left; 
	margin: 4px; 
}
img.floatRight { 
	float: right; 
	margin: 4px; 
}

.floatRight { 
	float: right; 
}




/* Tabel i create.html */			
th {
	border-bottom:1px solid #888;
	background-color: #bbb;
}
th:first-child {
	-moz-border-radius: 8px 0 0 8px;
	-webkit-border-radius: 8px 0 0 8px;
	border-radius: 8px 0 0 8px;
}
th:last-child {
	-moz-border-radius: 0 8px 8px 0;
	-webkit-border-radius: 0 8px 8px 0;
	border-radius: 0 8px 8px 0;
}

#infoBox {
	display:block;
	position:absolute;
	top:8px;
	z-index: 1010;
	background-color: rgba(255, 255, 255, 0.95);
	-moz-border-radius: 3px;
	border-radius: 5px;
	border: solid #D0D0EE 1px;
	padding: 0;
	text-align: center;
}
#infoBox h4{
	margin-left: 30px;
	margin-right: 30px;
}
.dateSelected {
	text-decoration: none;
	padding: 5px;
}

.leaflet-container {
	overflow: hidden!important;
}			
.leaflet-popup-content p {
	font-family: sans-serif;
	margin: 4px 0px;
}
.leaflet-popup-content h2 {
	margin: 0 0 5px 0;
}
.leaflet-popup-content h3 {
	margin: 0 0 5px 0;
}		   

.leaflet-bar a {
	width: 40px;
	height: 40px;
	line-height: 40px;
}
.leaflet-bar a:hover{
	width: 40px;
	height: 40px;
	line-height: 40px;
}
.text-bar-links {
	width: auto!important;
	padding: 0 10px;
	font-family: Georgia, serif;
	font-style: italic;
	font-weight: normal;
	font-size: 1.5em;
}
.leaflet-touch .text-bar-links {
	height: 30px!important;
	line-height: 30px!important;
	padding: 0 5px;
	font-size: 1.2em;
}
.queryList {
	padding: 5px;
	display: none;
}

.leaflet-control-locate a {
	background-position: 4px 6px!important;
}
.leaflet-touch .leaflet-bar a {
	width: 50px;
	height: 50px;
	line-height: 50px;
}
.leaflet-touch .leaflet-control-locate a{
	background-position: 8px 8px!important;
}

.leaflet-touch .leaflet-control-layers-toggle {
	width: 45px;
	height: 45px;
	background-size: 45px;
}

.leaflet-touch .leaflet-control-layers label {
	font-size: 1.6em;
 }

.leaflet-control-links {
	font-size: 1.1em!important;
} 
 
.leaflet-control-print a {
	background-image: url(../images/icons/print20.png);
}
.leaflet-control-share a {
	background-image: url(../images/icons/share20.png);
}

/* For marker cluster plugin*/
.marker-cluster-small {
	background-color: rgba(181, 226, 140, 0.5)!important;
	}
.marker-cluster-small div {
	background-color: rgba(110, 204, 57, 0.5)!important;
	}

.marker-cluster-medium {
	background-color: rgba(241, 211, 87, 0.4)!important;
	}
.marker-cluster-medium div {
	background-color: rgba(240, 194, 12, 0.4)!important;
	}

.marker-cluster-large {
	background-color: rgba(253, 156, 115, 0.4)!important;
	}
.marker-cluster-large div {
	background-color: rgba(241, 128, 23, 0.4)!important;
	}
	
.fb-like {
	margin-left:10px;
}

#grayout {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 1040;
	display: none;
	background-color: #000;
	filter: alpha(opacity = 55);
	opacity:.70;
}
